@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-Regular.otf') format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-Medium.otf') format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-Semibold.otf') format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-Bold.otf') format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-Heavy.otf') format("opentype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-Light.otf') format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-RegularItalic.otf') format("opentype");
	font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-MediumItalic.otf') format("opentype");
	font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-SemiboldItalic.otf') format("opentype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-BoldItalic.otf') format("opentype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-HeavyItalic.otf') format("opentype");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: 'San Francisco Compact';
  src: url('../fonts/SFCompactText-LightItalic.otf') format("opentype");
  font-style: italic;
  font-weight: 200;
}
