/**
  * Variables
*/

@charset "utf-8";

/* Colors- DARK */
$color-orange: #F45C05;
$color-dark-violet: #22191C;
$color-yellow: #FFCF62;
$color-dark-blue: #2E52A2;
$color-dark: #333;
$color-very-dark: #111;
$color-white: #FDFDFD;

/* Font size */
$font-size-super-tiny: 1.1rem;
$font-size-tiny: 1.2rem;
$font-size-base: 1.3rem;
$font-size-mid: 1.4rem;
$font-size-big: 1.55rem;
$font-size-giant: 1.88rem;

/* Font other */
$system-font: caption;
$letter-spacing-base: 0.015rem;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$line-height-base: 1.4;
$line-height-min: 1.3rem;

/**
  * Declarations
*/

html {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  -webkit-app-region: drag;
  font-size: 62.5%;
}

a {
	color: #3A46C3;
}

body {
  padding: 0px;
  margin: 0px;
  font: $system-font;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  overflow: hidden;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
}

em {
  font-weight: $font-weight-medium;
  font-style: inherit;
  color: $color-very-dark;
}

.search_root {
  display: inline;
  width: 800px;
}

.search_suggestions {
	display: flex;
	width: 100%;
	padding: 0;
	margin: 0;
	border-top: 0;
	-webkit-app-region: no-drag;

	.no_preview, 
	.empty_results_set {
		text-align: center;
		position: relative;
		top: 13rem;
		font-size: $font-size-mid;
		color: $color-very-dark;
		margin-left: -1.5rem;
	}

	.search_suggestions_list {
		margin: 0;
		padding: 0;
		background-color: $color-white;
		height: 397px;
		width: 400px;
		cursor: pointer;
		z-index: 50;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			width: 40rem;
		}	

		.search_suggestions_card {
			border: none;
			font-size: $font-size-big;
			color: rgba($color-very-dark, 0.85);
			position: relative;
			cursor: pointer !important;

			.search_suggestions_logo_container {
				width: 2.8rem;
				height: 2.5rem;
				pointer-events: none;
				background-color: $color-white;
				border: 1px solid rgba($color-very-dark, 0.1);
				border-radius: 0.2rem;
			}

			.search_suggestions_logo{
				height: 1.7rem;
				width: 1.7rem;
				background-size: 1.7rem;
				margin: 0.4rem 0 0 0.4rem;
				background-position: center;
				background-repeat: no-repeat;
			}

			.search_suggestions_logo.glyphicons-question-sign {
				color: rgba($color-very-dark, 0.25);
				font-size: $font-size-big;
				padding: 0.1rem 0 0 0.1rem;
			}

			.search_suggestions_logo_sprite {
				background-image: url('../assets/images/other/cuely_icons_sprite@2x.png');
			}

			.search_suggestions_data {
				pointer-events: none;
				font-size: $font-size-base;
				width: 100%;
				padding-left: 1.5rem;

				.heading {
					margin: 0;
					padding: 0;
					height: 2.5rem;
					font-size: $font-size-big;
					white-space: nowrap;
					display: flex;
					justify-content: space-between;

					.title {
						padding: .35rem 0 0;
						text-overflow: ellipsis;
						width: 290px;
						overflow: hidden;
					}
				}

				.body {
					color: rgba($color-very-dark, 0.6);
					padding-top: 0.7rem;
					max-width: 290px;
					white-space: nowrap;
					display: flex;

					.meta_group {
						display: flex;
						margin-right: 1rem;

						.meta_icon {
							font-size: 11px;
							padding: .3rem .5rem 0 0;
							color: rgba($color-very-dark, 0.3);
						}

						.text_overflow {
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}

					.meta_group:last-child {
						overflow: hidden;
						margin: 0;
					}
				}
			}

			.action_icon {
				color: rgba($color-very-dark, 0.3);
				font-size: 1.1rem;
				font-weight: 300;
				display: inline-block;
				position: absolute;
				z-index: 100;
				right: 1.7rem;
				bottom: 1.2rem;
				padding: .5rem;
				cursor: pointer;
			}

			.action_icon_no_meta_info {
				bottom: 1.7rem;
			}

			.action_icon:hover {
			  background-color: rgba($color-very-dark, 0.15);
			  color: rgba($color-very-dark, 0.4);
			  border-radius: 2px;
			  cursor: pointer;
			}

			.search_suggestions_card_link,
			.search_suggestions_card_link_no_hover,
			.search_suggestions_card_link_action_hover {
				display: flex;
				text-decoration: none;
				color: inherit;
				outline: none;
				padding: 1.5rem 1.5rem;
				cursor: pointer;
			}
		}

		.search_suggestions_card_highlight {
			background-color: rgba($color-very-dark, 0.1) !important;
			cursor: pointer;
		}

		.search_suggestions_card + .search_suggestions_card {
			border-top: 1px solid rgba($color-very-dark, 0.1);
		}

		.search_suggestions_card:last-child {
			border-bottom: 1px solid rgba($color-very-dark, 0.1);
		}

		.search_suggestions_card + .search_suggestions_card_highlight,
		.search_suggestions_card_highlight + .search_suggestions_card  {
			border-top: 1px solid rgba($color-very-dark, 0.01);
		}

		.search_suggestions_card:hover { 
			cursor: pointer;
			background-color: rgba($color-very-dark, 0.03);
		}
	}
}

.search_suggestions_content {
	width: 400px;
	margin: 0;
	background-color: rgba($color-very-dark, 0.03);
	overflow: auto;
	height: 397px;
	border-left: 1px solid rgba($color-very-dark,0.1);
	outline: none;

	em {
		font-weight: 800;
		color: tomato;
	}

	pre {

		li + li {
		  margin-top: 0.5rem;
		}
	}

	img {
		display: block;
		margin: auto;
		padding-top: 1em;
	}

	.content_section { padding: 1.5rem 0 1.5rem 1.5rem; }
	.content_section_right_padding { padding-right: 1.5rem; }
	.content_section:last-child { padding-bottom: 6rem; }

	.content_section_title {
		color: rgba($color-very-dark, 0.3);
		font-size: $font-size-mid;
		border-bottom: 1px solid rgba($color-very-dark, 0.1);
		font-weight: $font-weight-regular;
		line-height: $line-height-min;
		padding-bottom: 0.7rem;
		margin-bottom: 1rem;
		
	}

	.content_section_text {
		font-size: $font-size-mid;
		font-weight: $font-weight-regular;
		line-height: 1.5;
		color: $color-dark;
		overflow: auto;
		word-wrap: break-word;

		img { width: 100%; }
		h1 { font-size: $font-size-giant; }
		h2 { font-size: $font-size-big; }
		h3 { font-size: $font-size-mid; }
		p:first-child { margin-top: 0; }
		p:last-child { margin-bottom: 0; }

		.content_row {
			display: flex;
			flex-flow: row wrap;
			margin-right: 1.5rem;

			.content_list_value,
			.content_attribute_value {
				display: inline-block;
			}

			.content_list_right_side {
				color: rgba($color-very-dark, 0.5);
			}

			.content_attribute_name {
			  color: rgba($color-very-dark, 0.5);
			  flex-basis: 35%;
			}

			.content_attribute_value,
			.content_list_value {
				flex-basis: 65%;
				color: $color-dark;
			}

			.content_link {
				color: $color-dark;
				text-decoration: underline !important;
			}

			.content_link:hover {
				color: rgba($color-very-dark, 0.7) !important;
			}
		}

		.content_link {
			text-decoration: none;
		}

		.content_link:hover {
			text-decoration: underline;
		}
	}

	.content_section_pure_text {
		color: $color-dark;
		background-color: $color-white;
		border: 1px solid rgba($color-very-dark, 0.1);
		font: $system-font;
		font-size: $font-size-mid;
		white-space: normal;
		line-height: 1.5;
		margin: 0;
		overflow: auto;
		border-radius: 0.4rem;
		padding: 1rem;
		margin-right: 1.5rem;
	}

	.content_section_conversation {
		padding-right: 1.5rem;

		.conversation_group {
			background-color: $color-white;
			border-radius: 0.4rem;
			border: 1px solid rgba($color-very-dark, 0.1);

			.status {
				padding: 1.2rem 1rem 0.8rem 1rem;
				font-weight: $font-weight-medium;
				text-transform: capitalize;
				display: block;
				border-bottom: 1px solid rgba($color-dark, 0.1);

				.content_link {
					font-size: $font-size-big;
					color: $color-dark;
					display: block;
					text-decoration: underline;
				}

				.sub_status {
					font-size: $font-size-base;
					text-decoration: none;
					color: rgba($color-very-dark, 0.5);
				}
			}
		}

		.conversation_group + .conversation_group {
			margin-top: 1rem;
		}

		.conversation_items {
			padding: 1rem;
			font-weight: $font-weight-medium;

			.conversation_item {
				display: flex;

				.conversation_meta {
					margin-top: 0.7rem;
					margin-bottom: 0.5rem;
					font-size: $font-size-tiny;
					color: rgba($color-very-dark, 0.33);

					.meta_icon {
						margin: 0.2rem 0.5rem 0 0.4rem;
					}
				}

				.message_body {
					border-radius: 0.6rem;
					padding: 1rem;
					line-height: $line-height-base;
					font-size: $font-size-base;
				}

				.message_customer {
					margin-left: auto;
					width: 80%;

					.message_body {	
						background-color: $color-orange;
						color: $color-white;

						em {
							color: #42F5C1;
						}

						a {
							color: #3D47A9;
						}
					}

					.conversation_meta {
						text-align: right;
					}
				}

				.message_user {					
					width: 80%;

					.message_body {
						background-color: rgba($color-very-dark, 0.1);
						color: rgba($color-dark, 0.75);
					}
				}
			}

			.conversation_item + .conversation_item {
				margin-top: 1rem;
			}
		}
	}

	table {
		color: $color-dark;
		font-size: $font-size-base;
		font-weight: $font-weight-regular;
		overflow: scroll;
		border-collapse: collapse;
		display: block;

		td {
			border: 1px solid #DDD;
			border-collapse: collapse;
			background-color: $color-white;
			padding: .75rem;
			text-align: left;
		}

		th {
			background-color: rgba($color-yellow, 0.4);
			border: 1px solid #DDD;
			color: $color-dark;
			padding: .75rem;
			text-align: left;
			min-width: 120px;
			font-weight: 500;
		}
		
	}

	.content_bottom_view_link {
		position: fixed;
		bottom: 0;
		background-color: $color-white;
		width: 40rem;
		height: 4.4rem;
		font-size: $font-size-tiny;
		font-weight: $font-weight-medium;
		text-align: center;
		border-top: 1px solid rgba($color-very-dark, 0.1);
		box-shadow: 0px -1px 1px 0px rgba($color-very-dark,0.03);

		.content_center {
			display: inline-block;
		}

		.action_link {
			margin-top: 1rem;
			color: $color-white;
			background-color: rgba($color-dark-blue, 0.9);
			padding: 0.4rem 0.75rem;
			border-radius: 0.2rem;
			cursor: pointer;
			height: 1.6rem;
			display: block;
			float:left;
			-webkit-user-select: none;
		}

		.action_link + .action_link {
			margin-left: 1rem;
		}

		.action_link:hover {
			background-color: rgba($color-dark-blue, 1);
		}
		
		.glyphicons {
			padding: 0.05rem 0.3rem 0 0;
		}
	}
}

.content_link {
	cursor: pointer;
}

.style_space_between {
  justify-content: space-between !important;
}

.style_flex_start {
  justify-content: flex-start !important;
}

.padding-top-bottom-075 {
	padding-top: .75rem;
	padding-bottom: .75rem
}

.no_capitalize:first-letter {
	text-transform: lowercase !important;
}

.search_bar_open {
	width: 100%;
	height: 6.4rem;
	border-bottom: 1px solid rgba($color-very-dark, 0.1);
	display: flex;
	flex-wrap: nowrap;
	-webkit-app-region: drag;

	.search_bar_input {
		border: none;
		font-size: $font-size-giant;
		font-weight: $font-weight-regular;
		letter-spacing: $letter-spacing-base;
		color: $color-very-dark;
		outline: none;
		-webkit-app-region: no-drag;
		position: relative;
		min-width: 300px!important;
		max-width: 99.99%!important;
		transition: width 0.25s;
		padding: 0;
	}

	.search_bar_icon {
		width: 2.5rem;
		height: 100%;
		margin: 0 1.5rem 0 1.5rem;
		background: url('../assets/images/other/cuely_icons_searchbar_search@2x.png');
		background-size: 2.5rem;
		background-position: center;
		background-repeat: no-repeat;
	}

  .search_bar_error {
    flex: 1 1 auto;
    font-size: smaller;
    color: red;
    padding: 0.5rem;
  }

  .search_bar_error > span {
    float: right;
  }
}

.avatars {
	display: flex;

	.avatar {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 1.25rem;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 2.5rem 2.5rem;
		display: inline-block;
	}

	.avatar + .avatar {
	  margin-left: 1rem;
	}

	.no_avatar {
	  line-height: 2.4rem;
	  color: $color-white;
	  background-color: rgba($color-very-dark, 0.35);
	  font-weight: $font-weight-regular;
	  font-size: $font-size-super-tiny;
	  font-weight: $font-weight-medium;
	  text-transform: uppercase;
	  text-align: center;
	  box-shadow:none;
	}
}
 
/* Glyphicons reset */
.glyphicons:before {
  padding: 0;
}

.glyphicons-folder-open {
	margin-right: 0.15rem;
}

.sidebar {
	top: 0;
	left: 0;
	height: 460.38px;
	width: 6.4rem;
	background-color: rgba($color-dark-violet, 0.95);

	ul {
		margin: 1.2rem auto;
		padding: 0 1rem;
		width: 4rem;

		li {
			display: block;
			list-style-type: none;
			background-color: #fff;
			width: 4rem;
			height: 4rem;
			border-radius: 0.4rem;
			opacity: 0.5;
			cursor: pointer;

			&:hover { opacity: 0.8; }
			&.active { opacity: 1 !important; }

			.sidebar_integration_logo {
				width: 2.6rem;
				height: 2.6rem;
				top: 0.7rem;
				left: 0.7rem;
				position: relative;
				background-size: 2.6rem;
				background-image: url('../assets/images/other/cuely_icons_sprite@2x.png');
				background-repeat: no-repeat;
				cursor: pointer;
			}
		}

		li + li {
			margin-top: 1.2rem;
		}
	}

	.sidebar_bottom {
		height: 2.8rem;
		width: 4rem;
		cursor: pointer;
    background-color: white;
    margin: 0 auto;
    border-radius: 0.4rem;
    margin-top: 1.2rem;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../assets/images/other/cuely_icons_sidebar_cog@2x.png');
    background-size: 1.6rem; 
    background-repeat: no-repeat;
    background-position: center;

    &:hover { background-color: rgba(255, 255, 255, 1); }
	}

	.sidebar_body {
		overflow: auto;
		height: 344.38px;

		ul {
			padding: 0 1rem;

			li:first-child {
				margin-top: 1.6rem;
			}
		}
	}
}

.main_app {
	display: flex;
}
